.titulo-principal { font-family: monospace; color: rgb(0, 15, 65) }

.linkArea { padding: 15px 0; }

.inputArea { width: 100%; }
.inputArea button { width: 130px; }
.inputArea input { width: 250px; margin-right: 20px; }

.center-content { position: absolute; top: 20%; left: 760px;  }
.center-text { text-align: center; }
.container { width: 400px; }
body { background-color: rgb(250, 250, 250); }