.titulo-principal { font-family: monospace; color: rgb(0, 15, 65) }
hr { color: rgb(0, 15, 65); }

.center-content { position: absolute; top: 20%; left: 660px;  }
.center-text { text-align: center; }
.container { width: 600px; }

table.data { font-family: monospace; font-size: 14px; width: 100%; }
.table-row td { border-right: 1px solid rgb(0, 15, 65); border-left:  1px solid rgb(0, 15, 65); padding: 3px; border-spacing: 0; overflow-y: auto;}

body { background-color: rgb(250, 250, 250); }