
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="css/style.css")

    title Main

body
    div(class='center-content container')
        h1(class="titulo-principal center-text") Bem vindo ao root
        div(id='inputArea')
            span(class='text-input')
                input(class="ipt" id='route' type='text' placeholder='Navegue por uma section')
            
            span(class='btn-submit')
                button(class='btn' onclick='carregarLink()') Enviar 
       
        div(id='linkArea' class='linkArea center-text')


    script(src="js/main_fetch.js")

