
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" rel="stylesheet" href="css/style.css")

    title Main

body
    div(class='center-content center-text container')
        h1(class="titulo-principal") Bem vindo ao root
        div(id="inputArea")
            input(id='section' type='text' placeholder='Navegue por uma section')
            button(onclick='carregarLink()') Enviar 
       
        div(id='linkArea' class='linkArea')


    script(src="js/main_fetch.js")

