
head
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(type="text/css" rel="stylesheet" href="css/updates.css")

title Uptades

body
div(class='center-content container')
    h1(class="titulo-principal center-text") Updates
    hr
    table(class="data")
        each values, version in updates
            tr(class='table-row')
                td= version
                td= values.type.join(', ')
                td= values.desc ? values.desc : 'Sem descrição'
            
           


